<% include ./partial/header %>
<% include ./partial/wardenfunction%>
<div class="col-sm-6" style="    flex: 0 0 50%;
max-width: 50%;
margin-left: 431px;
margin-top: -251px;;  text-align: -webkit-center; font-style: arial">

<style>
  .profile-container {
    display: flex;
    align-items: center;
    margin-left: -150px;
  }

  .thumbnail {
    display: flex;
    align-items: center;
    margin-right: 20px;
    margin-top: 20px;
  }

  .thumbnail img {
    height: 160px;
    width: 160px;
    border-radius: 100%;
    margin-right: 10px;
  }

  .profile-info {
    text-align: left;
    font-family: 'Arial', sans-serif;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }

  .profile-info h4 strong {
    font-weight: bold;
  }

  .profile-info h4 {
    font-weight: normal;
    font-size: 16px;
    margin-bottom: 10px;}
</style>

      


    <div class="profile-container">
      <div class="thumbnail">
        <img style="height:150px;width:150px;border-radius: 100%" src="<%=warden.image%>" />
      </div>
    
      <div class="profile-info">
        <h4><strong>Name:</strong> <%=warden.name%></h4>
        <h4><strong>Type:</strong> Admin</h4>
        <h4><strong>Email ID:</strong> <%=warden.username%></h4>
        <h4><strong>Mobile No.:</strong> <%=warden.hostel%></h4>
    </div>
    </div>
    <% include ./partial/footer %>
  
