<%- include('./partial/header') %>
<div class="lop"style="border:1px solid pink;">
    <% if (locals.errors) { %>
      <div class="alert alert-danger" role="alert"style="">
        <% locals.errors.forEach(function(errors) { %>
        <h5><%= errors.msg %></h5>

        <% }); %>
      </div>
      <% } %>
</div>
<div
  class="container"
  style=" position: relative;
border-radius: 5px;
background-color: #f2f2f2;
padding: 60px 0 30px 0;
width: 40%;

">
        <form action="/professor/register" method="post" id="registrationForm"  style="margin: 0 auto; font-family:Arial;">
          <div class="row">
            <div class="col">
              <h2 style="    text-align: center;">
                Register
              </h2>
              <div class="form-group form-inline">
                <label for="name" style="width: 200px;
                display: inline-block;
                text-align: right;
                ">Name</label>
                <input
                  class="form-control"
                  type="text"
                  id="name"
                  placeholder="Name"
                  name="name"
                  style="float: left;;
                  text-align: left;
                  "
                />
              </div>
              <!-- type -->
              <div id="rates" class="form-group"style="width: 400px;
              display: inline-block;
              text-align: right;
              ">
                <input type="radio" id="r1" name="type" value="professor" />
                Professor
                <input type="radio" id="r2" name="type" value="hod" />
                HOD
                <input type="radio" id="r3" name="type" value="warden" />
                Admin
              </div>

              <!-- id -->
              <div class="form-group form-inline">
                  <label for="emailId" style="width: 200px;
                  display: inline-block;
                  text-align: right;
                  ">Email ID</label>
                <input
                  class="form-control"
                  type="text"
                  id="emailId"
                  placeholder="Email id"
                  name="username"
                />
              </div>
              <!-- password -->
              <div class="form-group form-inline">
                  <label for="password"style="width: 200px;
                  display: inline-block;
                  text-align: right;
                  ">Password</label>
                <input
                  class="form-control"
                  type="password"
                  name="password"
                  id="password"
                  placeholder="Password"
                />
              </div>
              <!-- confirm password -->
              <div class="form-group form-inline">
                  <label for="cpassword"style="width: 200px;
                  display: inline-block;
                  text-align: right;
                  ">Confirm Password</label>
                <input
                  class="form-control"
                  type="password"
                  id="password2"
                  name="password2"
                  placeholder="Confirm password"
                />
              </div>
              <!-- Department -->
              <div class="form-group form-inline">
                  <label for="department"style="width: 200px;
                  display: inline-block;
                  text-align: right;
                  ">Department</label>
                <!-- <label for="department">Department</label> -->
                <input
                  class="form-control"
                  
                  type="text"
                  placeholder="Department"
                  id="department"
                  name="department"
                />
              </div>
              <!-- hostel -->
              <div class="form-group form-inline">
                  <label for="hostel"style="width: 200px;
                  display: inline-block;
                  text-align: right;
                  ">Mobile no.</label>
                <!-- <label for="hostel">Hostel</label> -->
                <input
                  class="form-control"
                  type="text"
                  name="mobileno"
                  id="mobileno"
                  placeholder="Mobile no."
                />
              </div>
              <!-- image -->
              <div class="form-group form-inline">
                  <label for="img"style="width: 200px;
                  display: inline-block;
                  text-align: right;
                  ">Image Url</label>
                <input
                  class="form-control"
                  type="text"
                  id="image"
                  placeholder="img url"
                  name="image"
                />
              </div>

              <div class="form-group">
                <button
                  type="submit"
                  
                 
                  class="btn btn-lg btn-primary btn-default btn-block"
                  style=" color:#fff;"
                >
                  Submit
                </button>
              </div>
            </div>
          </div>
          <!-- name -->
        </form>
        <!-- <script>
          async function registerUser() {
            const name = document.getElementById('name').value;
            const emailId = document.getElementById('username').value;
            const password = document.getElementById('password').value;
            const password2 = document.getElementById('cpassword').value;
            const department = document.getElementById('department').value;
            const mobileno = document.getElementById('mobileno').value;
            const image = document.getElementById('img').value;
      
            try {
              const response = await fetch('/professor/register', {
                method: 'POST',
                headers: {
                  'Content-Type': 'application/json',
                },
                body: JSON.stringify( {name,emailId,password,password2,mobileno,image} ),
              });
      
              const data = await response.json();
      
              if (response.ok) {
                alert('User registered successfully!');
                // Optionally, redirect to a new page or perform other actions
              } else {
                alert(`Error: ${data.error}`);
              }
            } catch (error) {
              console.error('Error during registration:', error);
              alert('Internal Server Error');
              
            }
          }
        </script> -->
        <a href="/">Back</a>
      </div>
    </div>
  </div>
  <%- include('./partial/footer') %>
</div>
