<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="">
</head>
<body>
  <% include ./partial/header %>
<div class="lop"style="border:1px solid pink;">
    <% if (locals.errors) { %>
      <div class="alert alert-danger" role="alert"style="">
        <% locals.errors.forEach(function(errors) { %>
        <h5><%= errors.msg %></h5>

        <% }); %>
      </div>
      <% } %>
</div>
<div style="padding: 20px;">
<div
  class="container"
  style=" margin-top: 50px; 
  position: relative;
border-radius: 10px;
background-color: #f2f2f2;
padding: 60px 0 30px 0;
width: 40%;
z-index: 10;
box-shadow: 10px  10px 5px 0px rgba(0, 0, 0, 0.75);
"
>
        <form action="/student/register" method="POST" style="margin: 0 auto;">
          <div class="row">
            <div class="col">
              <h2 style="text-align: center;">
                Register
              </h2>
              <div class="form-group form-inline">
                <label for="name" style="width: 200px;
                display: inline-block;
                text-align: right;
                padding: 10px
                ">Name</label>
                <input
                  class="form-control"
                  type="text"
                  id="name"
                  placeholder="Name"
                  name="name"
                  style="float: left;;
                  text-align: left;
                  "
                />
              </div>
              <!-- type -->
              <div id="rates" class="form-group"style="width: 400px;
              display: inline-block;
              text-align: right;
              ">
                <input type="radio" id="r1" name="type" value="Professor" />
                Professor
                <input type="radio" id="r2" name="type" value="HOD" />
                HOD
                <input type="radio" id="r3" name="type" value="Staff" />
                Staff
              </div>

              <!-- id -->
              <div class="form-group form-inline">
                  <label for="emailid" style="width: 200px;
                  display: inline-block;
                  text-align: right; padding: 10px;
                  ">Email ID</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Email">
              </div>
              <!-- password -->
              <div class="form-group form-inline">
                  <label for="password"style="width: 200px;
                  display: inline-block;
                  text-align: right;
                  padding: 10px
                  ">Password</label>
                <input
                  class="form-control"
                  type="password"
                  name="password"
                  id="password"
                  placeholder="Password"
                />
              </div>
              <!-- confirm password -->
              <div class="form-group form-inline">
                  <label for="cpassword"style="width: 200px;
                  display: inline-block;
                  text-align: right;
                  padding: 10px
                  ">Confirm Password</label>
                <input
                  class="form-control"
                  type="password"
                  id="cpassword"
                  name="password2"
                  placeholder="Confirm Password"
                />
              </div>
              <!-- Department -->
              <div class="form-group form-inline">
                  <label for="department"style="width: 200px;
                  display: inline-block;
                  text-align: right;
                  padding: 10px
                  ">Department</label>
                <!-- <label for="department">Department</label> -->
                <input
                  class="form-control"
                  
                  type="text"
                  placeholder="department"
                  id="department"
                  name="department"
                />
              </div>
              <!-- hostel -->
              <div class="form-group form-inline">
                  <label for="mobileno"style="width: 200px;
                  display: inline-block;
                  text-align: right;
                  padding: 10px
                  ">Mobile no.</label>
                <!-- <label for="hostel">Hostel</label> -->
                <input
                  class="form-control"
                  type="text"
                  name="hostel"
                  id="hostel"
                  placeholder="Mobile no."
                />
              </div>
              <!-- image -->
              <div class="form-group form-inline">
                  <label for="img"style="width: 200px;
                  display: inline-block;
                  text-align: right;
                  padding: 10px
                  ">Image Url</label>
                <input
                  class="form-control"
                  type="text"
                  id="img"
                  placeholder="Img url"
                  name="image"
                />
              </div>

              <div class="form-group">
                <button
                  type="submit"
                  class="btn btn-lg btn-primary btn-default btn-block"
                  style=" color:#fff;"
                >
                  Submit
                </button>
              </div>
            </div>
          </div>
          <!-- name -->
        </form>
        <a href="/">Back</a>
      </div>
</div>
    </div>
  </div>
  <% include ./partial/footer %>
</div>

</body>
</html>